.hour{
  background:lightgrey;
  border:1px solid rgba(0, 0, 0, 0);
  box-shadow: 10px 5px 5px #888888;
  margin:10px;
  width:200px;
  padding: 10px;
  border-radius: 4px;
  cursor: pointer;
}

.selected{
  background: red;
  color:#fff;
}