/* Reset CSS */
li{
  text-decoration: none;
}




/* Custom CSS */

.center{
  display: flex;
  justify-content: center;
  align-items: center;
}

.full_layout{
  display: flex;
  justify-content: space-between;
}

@media(max-width : 414px) {
  .full_layout{
    flex-direction: column-reverse;
  }
} 

.half_layout{
  display: flex;
  justify-content: space-around;
}

.column{
  flex-direction: column
}

.wrapper{
  height:100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  width:100%;
}

header, footer{
  width:100%;
}

main{
  flex:1;
}



.selected{
  background: red;
  color:#fff;
}